<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  注解文件路径-->
    <context:component-scan base-package="cn.demo.controller"/>
    <!--    加载驱动-->
    <mvc:annotation-driven/>
    <!--视图解析器-->
    <bean class=" org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
<!--静态资源访问 放行所有 可以从服务区拿到资源-->
    <mvc:default-servlet-handler />
    <!--文件上传解析器-->
<bean  id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="5000000"/>
    <property name="defaultEncoding" value="UTF-8"/>
</bean>
    <!--局部异常自定义
    <bean id="myExeptionResolver" class="cn.demo.log.MyExeptionResolver"/>
    -->
    <!--配置全局异常处理器-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--        <property name="exceptionMappings">-->
<!--            <props>-->
<!--                <prop key="java.lang.RuntimeException">erro</prop>-->
<!--                <prop key="java.sql.SQLException">erro</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--拦截所有请求
    <mvc:interceptors>
        <bean class="cn.demo.interceptor.Logininterceptor"/>
    </mvc:interceptors>
    -->
    <!-- 配置拦截器 1.指定请求拦截 -->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/*.do"/>-->
<!--            <bean class="cn.qhit.model.interceptor.Logininterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

</beans>
